<div class="jumbotron text-center">

  <div class="container">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">Jot down ideas for your next youtube video.</p>
    <a class="btn btn-dark btn-lg" href="/ideas/add" role="button">Add Video</a>
  </div>

</div>